.page2
	background #F6F6F6
	padding-top 120px
	padding-bottom 113px

.page3
	background #FFFFFF
	padding-top 91px
	padding-bottom 110px

.page4
	background #F6F6F6
	padding-top 113px
	padding-bottom 96px

.wrapper2
	padding-left 15px
	padding-right 15px
	max-width 944px
	margin 0 auto

.zag
	font-size 34px
	font-weight bold
	color 070707
	text-align center

.text2
	font-size 18px
	color 070707
	text-align center

img.Group_ps
    width auto
    height 88px

img.z1
    width 166px
    height auto

.text3
    font-size 14px
	font-weight bold
    color #828282

.grid
    display grid
    grid-template-columns repeat(4, 1fr)
	grid-gap 90px

.grid-item 
	text-align center

img.b4
 	max-width 944px
 	margin 0 auto

.text4
  	font-size 18px
 	color 70707
 	text-align center
	text-decoration underline
	padding-bottom 99px
	cursor pointer

.content 
	padding-top 47px

.content2 
 	padding-top 114px
 	padding-bottom 123px
 	text-align center

button
  	background-color #000000
	border none
    color white
    padding 10px 28px
    text-align center
    text-decoration none
    display inline-block
    margin 0px 2px
    border-radius 32px
    font-size 18px
    margin-top 29px
    cursor pointer

.text5
  	font-size 14px
 	color #828282

.icon
 	width 40px
 	height auto

.flex 
	grid-template-columns repeat(4, 1fr)
 	grid-gap 60px
  	padding-top 66px
  	padding-bottom 32px
  	display flex
  	justify-content center