.block1
    padding 40px 0px 0px 0px
    .element__text
        display flex
        justify-content space-between
        text-align left

        .name__person
            font-weight bold
            font-size namePerson
            line-height 59px
        
        .name__info_person
            padding 55px 0px 0px 0px
            
        .name__language
            transform rotate(-90deg)
            padding 80px 0px 0px 0px
            font-weight bold
    
    .element__image
        padding 30px 0px 104px 0px
        
        .photo__persons
            width 100%    