.block1
    padding 40px 0px 0px 0px
    &__persontext
        display flex
        justify-content space-between
        text-align left
        &_person
            font-weight bold
            font-size namePerson
            line-height 59px       
        &_info
            padding 55px 0px 0px 0px           
        &_language
            transform rotate(-90deg)
            padding 80px 0px 0px 0px
            font-weight bold   
    &__personimage
        padding 30px 0px 104px 0px     
        &_photo
            width 100%
.block4
    padding 113px 0px 96px 0px   
    &__chapter
        font-weight bold
        font-size chapterBlock
        line-height 42px     
    &__photobig
        width 100% 
    &__underline