.page_f
    .wrapper2
        .content2
            p.zag Contacts
            br
            p.text2 Want to know more or just chat? <br> You are welcome!
            button Send message
            br
            br
            .flex
                    img.icon(src="static/img/content/i1.png")
                    img.icon(src="static/img/content/i2.png")
                    img.icon(src="static/img/content/i3.png")
                    img.icon(src="static/img/content/i4.png")
            br
            p.text5 Like me on <br> LinkedIn, Instagram, Behance, Dribble

    