.footer__chapter#contacts Contacts
.footer__text Want to know more or just chat? <br> You are welcome!
button.footer__buttonfoot Send message
.footer__icon
    img(src="static/img/content/Group 2.png")
    img(src="static/img/content/Group 8.png")
    img(src="static/img/content/Group 9.png")
    img(src="static/img/content/Group 10.png")
.footer__textsmall Like me on <br> LinkedIn, Instagram, Behance, Dribble
