ul.menu
    li.menu__item.menu__item_active
        a(href="#home") Home
    li.menu__item.menu__item_active
        a(href="#about__me") About me
    li.menu__item.menu__item_active
        a(href="#skills") Skills
    li.menu__item.menu__item_active
        a(href="#portfolio") Portfolio
    li.menu__item.menu__item_active
        a(href="#contacts") Contacts