//.wrapper2
    .grid
		.grid-item
            a(href="#home") Home
        .grid-item
            a(href="#about__me") About me
        .grid-item
            a(href="#skills") Skills
        .grid-item
             a(href="#portfolio") Portfolio
        .grid-item
            a(href="#contacts") Contacts