//header.header
    .wrapper2
        <ul class="menu">
            <li class="menu_item">Home</li>
            <li class="menu_item">About me</li>
            <li class="menu_item">Skills</li>
            <li class="menu_item">Portfolio</li>
            <li class="menu_item">Contacts</li>
        </ul>
    .line