extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.page1 
		.wrapper2
			.text
				p.t1 Denis <br> Novik
				p.t2 UX | UI designer <br> 24 years old, Minsk
				p.t3 <span>RU</span> | ENG
			img.b4(src="static/img/content/img0.png")

	.page2
		.wrapper2
			p.zag About me
			br
			p.text2 Hi, I'm Denis – UX/UI designer from Minsk.
			p.text2 I'm interested in design and everything connected with it.
			br
			br
			p.text2 I'm studying at courses "Web and mobile design
			p.text2 interfaces" in IT-Academy.
			br
			br
			p.text2 Ready to implement excellent projects
			p.text2 with wonderful people.
	.page3
		.wrapper2
			p.zag Skills
			br
			br
			p.text2 I work in such programs as
			.grid
				.grid-item
					.kartochka
						img.Group_ps(src="static/img/content/ps.png")
						br
						br
						p.text3 Adobe <br> Photoshop
						br
						img.z1(src="static/img/content/z1.png")
				.grid-item
					.kartochka
						img.Group_ps(src="static/img/content/ai.png")
						br
						br
						p.text3 Adobe <br> Illustrator
						br
						img.z1(src="static/img/content/z2.png")
				.grid-item
					.kartochka
						img.Group_ps(src="static/img/content/ae.png")
						br
						br
						p.text3 Adobe <br> After Effects
						br
						img.z1(src="static/img/content/z3.png")
				.grid-item
					.kartochka
						img.Group_ps(src="static/img/content/f.png")
						br
						br
						p.text3 Figma
						br
						br
						img.z1(src="static/img/content/z4.png")
	.page4
		.wrapper2
			p.zag Portfolio
			.content
				img.b4(src="static/img/content/img1.png")
				p.text4 Online fashion store - Homepage
				img.b4(src="static/img/content/img2.png")
				p.text4 Online fashion store - Homepage
				img.b4(src="static/img/content/img3.png")
				p.text4 Online fashion store - Homepage
	
	.page10
	
				



