extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	span(class="test") Test span
	p.red Some text #[a(href="#") Link22]
	.block
		.element__text test
		.element__image hfksfhksdh
			img(src=".../static/img/content/img0.png")