extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.block1
		.element__text 
			p.name__person#home Denis <br> Novik
			p.name__info_person UX | UI designer <br> 24 years old, Minsk
			p.name__language RU | ENG
		.element__image
			img.photo__persons(src="static/img/content/img0.png")
	
	span(class="test") Test span
	p.red Some text #[a(href="#") Link22]