extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.block1
		.block1__persontext 
			p.block1__persontext_person#home Denis <br> Novik
			p.block1__persontext_info UX | UI designer <br> 24 years old, Minsk
			p.block1__persontext_language RU | ENG
		.block1__personimage
			img.block1__personimage_photo(src="static/img/content/img0.png")
	.block4
		p.block4__chapter#portfolio Portfolio
		img.block4__photobig(src="static/img/content/img1.png")
		a.block4__underline(href="#homepage") Online fashion store – Homepage