extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	span(class="test") Test span
	p.red Some text #[a(href="#") Link22]
	.block
		.element1 test
		.element2 test2
			span test span