footer
  flex 0 0 auto
  &__chapter
    font-weight bold
    font-size chapterBlock
    line-height 42px

  &__buttonfoot
    background-color #FFFFFF
    color bottonColor
    border 5px

  &__icon
    padding 0px 301px
    justify-content space-between

  &__textsmall
    color footerText
    font-size footerTextSize
    line-height 17px
